<p></p>

<h5>Male</h5>
<ul>
  <ng-container *ngFor="let pet of malePets; index as id">
    <li>{{ pet.name }}</li>
  </ng-container>
</ul>

<h5>Female</h5>
<ul>
  <ng-container *ngFor="let pet of femalePets; index as id">
    <li>{{ pet.name }}</li>
  </ng-container>
</ul>
